# Configuração de Autenticação DelSDK
AUTH_ACCOUNT_ID=seu-account-id
AUTH_ACCOUNT_API_KEY=sua-api-key
AUTH_ENVIRONMENT=Sandbox

# Valores para testes de iniciação
END_TO_END_ID=
PIX_KEY=
PAYLOAD_QR_CODE=

# Valores para teste de transferência
BENEFICIARY_ACCOUNT=
BENEFICIARY_BRANCH=
BENEFICIARY_HOLDER_NAME=
BENEFICIARY_HOLDER_DOCUMENT=
ISPB=

# Valores para teste QRCode
QRCODE_ID=
QRCODE_AMOUNT=
QRCODE_TRANSACTION_ID=
QRCODE_CITY_NAME=
QRCODE_ZIP_CODE=
QRCODE_UF=
QRCODE_STREET=
QRCODE_EXPIRES_IN=
QRCODE_ASYNC=
QRCODE_FORMAT_RESPONSE=
QRCODE_ADDITIONAL_NAME=
QRCODE_ADDITIONAL_VALUE=
QRCODE_ALLOW_CHANGE_AMOUNT=
QRCODE_SPLIT_AMOUNT=

# Valores para QRCode com taxas e vencimento
QRCODE_REBATE_TYPE=
QRCODE_REBATE_AMOUNT=
QRCODE_DISCOUNT_TYPE=
QRCODE_DISCOUNT_DUE_DATE=
QRCODE_DISCOUNT_AMOUNT=
QRCODE_INTEREST_TYPE=
QRCODE_INTEREST_AMOUNT=
QRCODE_DUE_DATE=
QRCODE_SOURCE=
